body {
    margin-left: 785px;
    color: rgba(0, 0, 0, 0.55);
    background: linear-gradient(#000000, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
}

h1 {
    margin-left: 53px;
    color: black;
}

h4 {
    margin-left: 50px;
    color: black;
}

input {
    margin-left: 50px;
}

button {
    margin-left: 30px;
    color: rgb(0, 0, 0);
}

#logo {
    margin-left: 33px;
}

header {
    margin-left: -785px;
    width: 1895px;
    margin-top: -10px;
    background-color: hsl(0, 0%, 0%);
}

footer {
    margin-left: -900px;
    width: 100px;
    background-image: url(retrogames/css/img/fundo-rodape.png);
    margin: 0;
    padding: 0;
    border: 0;
}